

.course-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: calc(33.33% - 2rem);
  margin: 1rem;
  max-width: 35rem;
  min-width: 10rem;
  color: #1c1d1f;
}

.course-img-wrapper {
  width: 100%;
  position: relative;
  display: inline-block;
}

.course-img {
  display: block;
  width: 100%;
  height: 100%;
}
.hovered-button {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #44a411;
  color: white;
  border: none;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 18px;
}

.course-img-wrapper:hover .hovered-button{
  opacity: 1;
}
.course-img-wrapper:hover .course-img{
  opacity: .5;
}

.course-text-wrapper {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: .8;
  width: 100%;

}

.course-title {
  font-size: 1.6rem;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  letter-spacing: -0.02rem;
  font-weight: 700;
  line-height: 1.2;
}

/* .course-des {
  height: 18px;
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */


.course-rate-wrapper {
  display: flex;
  margin-bottom: 0.4rem;
}

.course-rate-score {
  margin-right: 0.4rem;
  color: #b4690e;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1.4rem;
}

.course-rate-stars {
  display: flex;
  align-items: center;
}

.course-rate-reviewer-num {
  color:#6a6f73;
  margin-left: 0.4rem;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.2rem;
}

.price-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.cross-off-price {
  text-decoration: line-through;
  color: #787878;
  font-weight: 500;
  font-size: 1.4rem;
}

.course-price {
  letter-spacing: -.02rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.course-mark {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  background-color: #eceb98;
  color: #3d3c0a;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1.2rem;
}

.course-rate-stars .MuiSvgIcon-root {
  color: gray;
}

.course-rate-stars .MuiSvgIcon-root:nth-child(-n + 5):not(:last-child) {
  color: #e59819;
}
.course-rate-stars .MuiSvgIcon-root:last-child {
  color: #e59819;
}
